{% include 'top.html' %}
<div id="content">
    <div id="container">
        <h1 class="page-title">Search-Result</h1>
        <table class="pure-table">
            <thead><th>ID</th><th>Name</th>
            </thead>
            <tbody>
                {% for unit in units %}
                        <tr>
                            <td> {{unit[0]}}</td>
                            <td> {{unit[1]}} </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
